# Node modules
node_modules/

# Build output
dist/

# TypeScript files
*.js
*.js.map
*.d.ts

# Logs
logs/
*.log
npm-debug.log*

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Configuration files
package.json
.eslintrc.js
tsconfig.json
webpack.config.js

# Other files
.env
